
@{
    ViewBag.Title = "Changelist";
}

<h2>Changelist</h2>
<div>
    <h4>v0.2</h4>
    <ul>
        <li>Added more styling and additional personal information.</li>
    </ul>

    <h4>v0.1</h4>
    <ul>
        <li>Created initial site.</li>
    </ul>
</div>