@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Feel free to contact me through the following channels.</h3>

<div>
    <p>Email: <span>[my name + 90]@@gmail.com (james.miyamoto90)</span></p>
    <p>LinkedIn: @Html.RouteLink("LinkedIn", "LinkedIn") </p>
    <p>GitHub: @Html.RouteLink("GitHub", "GitHub") </p>
    <p>Facebook: @Html.ActionLink("Facebook", "Facebook", "Redirect") </p>
</div>