@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <img id="profile-picture" src="http://lorempixel.com/300/300" alt="profile picture" />
        </div>
        <div class="col-md-7">
            <p>James Miyamoto</p>
            <p>Hello!</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Find me at:</h2>
        <div>
            <p>Email: <span>[my name + 90]@@gmail.com (james.miyamoto90)</span></p>
            <p>LinkedIn: @Html.RouteLink("James Miyamoto", "LinkedIn") </p>
            <p>GitHub: @Html.RouteLink("James Miyamoto", "GitHub") </p>
            <p>Facebook: @Html.ActionLink("James Miyamoto", "Facebook", "Redirect") </p>
        </div>
    </div>
</div>