################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/PersonalWebsite/bin
/PersonalWebsite/obj/Debug
/packages

!/packages/repositories.config